@font-face {
  font-family: radnika-black;
  src: url("fonts/Radnika-Black.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("fonts/Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-regular;
  src: url("fonts/Radnika-Regular.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("fonts/Radnika-Medium.otf");
}
@font-face {
  font-family: stratum-medium;
  src: url("fonts/Stratum2-Medium.otf");
}
@font-face {
  font-family: stratum-regular;
  src: url("fonts/Stratum2-Regular.otf");
}
$blueNode: #0032EE;
$redNode: #BB0000;
$blueRingFill: #80CBEB;
$redRingFill: #B4616B;
$blueSelectedNode: #2277AA;
$redSelectedNode: #FE8585;
$purple: rgb(79,39,79);
$lightGray: #DDDAC8;
$maxMapWidth: 512px;

body {
  min-width: 300px;
}
// OPTIONS/MENU AREA
.options-title {
  margin: 0;
  margin-left: 0.5em;
  color: $purple;
}
#info-box {
  height: 100px;
  border: solid 1.5px $purple;
  padding: 0.5em;
  margin-bottom: 1em;
}
button {
  background-color: none;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 600;
  height: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: $purple;
  border: 1.5px solid $purple;
  font-family: stratum-medium;
  cursor: pointer;
  margin: 0.5em;
}
.button-dots {
  background-color: $purple;
  color: white;
}
.button-blue {
  background-color: $purple;
  color: white;
}
#main {
  margin-top: 1em;
}
#breadcrumbs-back-container {
  height: 35px;
}
#breadcrumb-container {
  height: 35px;
  float: left;
}
.breadcrumb {
  display: none;
  border: none;
  background-color: $lightGray;
  margin-top: 0;
}
#back-container {
  display: flex;
  float: right;
}
#button-back {
  margin: 0;
  margin-left: 5px;
  margin-top: 5px;
  border: none;
}
i {
  border: solid $purple;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.breadcrumbArrow {
  display: none;
}
@media screen and (min-width: 800px) { // desktop
  #menu-graphic-container {
    display: flex;
    max-width: 830px;
    margin: auto;
  }
  #menu-desktop {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    margin-top: 1em;
  }
  #menu-mobile {
    display: none;
  }
  #options {
    border: solid 1.5px $purple;
    padding: 0.5em;
  }
}
@media screen and (max-width: 799px) { // mobile
  #menu-mobile {
    max-width: $maxMapWidth;
    position: relative;
    margin: 0 auto;
    margin-top: 1em;
  }
  #menu-desktop {
    display: none;
  }
  #info-box {
    max-width: $maxMapWidth;
  }
  #options {
    display: flex;
  }
  #options2 {
    margin-left: 1em;
  }
  #breadcrumbs-back-container {
    max-width: $maxMapWidth;
    margin: auto;
  }
  #main {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

#graphic {
  position: relative;
  margin: 0 auto;
}
.img-overlay-container {
  position: relative;
  max-width: $maxMapWidth;
  max-height: $maxMapWidth;
  margin: 0 auto;
}
.img-overlay-container img {
   display: block;
   max-width: 100%;
   max-height: 100%;
   height: auto;
}
.img-overlay-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 46%;
  left: 46%;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#heatmap-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nodes {
  cursor: pointer;
  opacity: 0.8;
}
#nodesBlue {
  fill: $blueNode;
}
#nodesRed {
  fill: $redNode;
}
.nodeRings {
  opacity: 0.4;
  stroke-width: 3;
  pointer-events: none;
}
#nodeRingsBlue {
  stroke: $blueNode;
  fill: $blueRingFill;
}
#nodeRingsRed {
  stroke: $redNode;
  fill: $redRingFill;
}
#selectedNodesBlue {
  fill: $blueSelectedNode;
}
#selectedNodesRed {
  fill: $redSelectedNode;
}
.selectedNodeRings {
  fill: none;
  stroke-width: 2;
}
#selectedNodeRingsBlue {
  stroke: $blueSelectedNode;
}
#selectedNodeRingsRed {
  stroke: $redSelectedNode;
}
.selectedLines {
  stroke: white;
  stroke-width: 3;
}
marker {
  fill: white;
}
.pathPoints {
  opacity: 0.4;
  fill: white;
  pointer-events: none;
}
#minuteMark {
  font-family: stratum-medium;
  fill: white;
  text-anchor: start;
  font-size: 18px;
}
@media screen and (min-width:400px) {
  h1 {
    font-family: radnika-black;
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-family: radnika-medium;
    font-size: 14px;
  }
  p {
    font-family: radnika-regular;
    font-size: 13px;
  }
}
@media screen and (max-width:400px) {
  h1 {
    font-family: radnika-black;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-family: radnika-medium;
    font-size: 12px;
  }
  p {
    font-family: radnika-regular;
    font-size: 11px;
  }
  button {
    font-size: 12px;
    height: 30px;
  }
}
